body{
    font-size: 20px;
    font-family: sans-serif;
    background:linear-gradient(to right, #0f73f6, #a8dff0, #08cec4);
  }
  .question{
    font-weight: 600;
  }
  .answers {
      margin-bottom: 20px;
  }
  #submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  #submit:hover{
    background-color: #3a8;
  }
  .container{
    text-align: center;
    margin-top: 20%;
    margin-left:30%;
    padding-top: 2%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
  }